* {
  box-sizing: border-box;
}
body {
  background-color: #009999;
  font-family:Verdana;
  color:#003366;
}
#head {
  background-color: #009999;
  padding:15px;
  text-align:center;
}
#main {
  background-color:#e5e5e5;
  float:left;
  width:95%;
  padding:0 20px;
  border:7px solid #009999;

}
#menu {
  background-color:#e5e5e5;
  float:left;
  width:5%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}
#foot {
  background-color:#009999;
  text-align:center;
  width:100%;
  padding:10px;
  margin-top:7px;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  #menu, #main, #right {
    width:100%;
    margin-top:7px;
    border: 0px;
  }
}
